.product-detail-large-image {
    float:left;
    max-width:300px;
    padding:20px;
}

.merchant-small-image {
    max-height:31px;
}

.search-product-image {
    width:100%;
    max-width:200px;
    max-height:150px;
}

body {
    padding-top: 60px;
    padding-bottom: 40px;
}

hr {
    color: #000000;
    background-color: #000000;
    height: 2px;
}

.sidebar {
    margin-left: 0;
    padding-right: 19px;
    border-right: 1px groove #000000;
    min-height: 768px;
}

.search-refine-keywords {
    float:left;
    padding-right:20px;
}

.inspect-button {
    padding:10px;
    margin:30px;
}

.search-results-header {
    display:inline;
}

.search-results-merchant {
    display:inline;
}

.search-results-category {
    display:inline;
}

.offers-table {
    
}

.generated-pagination {
    
}

.departments-category {
    padding-top: 55px;
}

.departments-subcategory {
    padding-left:40px;
}

.departments-sidebar-li {
    padding:2px;
}
.offer-price-merchant {
    font-weight:bold;
}

.offer-condition {
    
}

.offer-store-button {
    
}

.product-detail-description {
    
}

.brand-label {
    font-weight:bold;
}

.brand-value {
    font-style:italic;
}

.departments-icon {
    margin-top:8px;
}

.deal-name {
    
}

.deal-start-label {
    
}

.deal-start-value {
    font-style:italic;
    padding-left:28px;
}

.deal-end-label {
    
}

.deal-end-value {
    font-style:italic;
    padding-left:4px;
}

.deal-code-label {
    font-weight:bold;
}

.deal-code-value {
    color:red;
}

.sidebar-option-ul {
    list-style-type:none;
    padding:0px;
    margin-left:10px;
}

.selection-count {
    color:gray;
    font-style:italic;
}