.product-detail-large-image {
    float:left;
    max-width:300px;
    padding:10px;
}

.merchant-small-image {
    max-height:31px;
    margin:5px;
}

.search-product-image {
    width:100%;
    max-width:200px;
    max-height:150px;
}

body {
    padding-top: 60px;
    padding-bottom: 40px;
}

hr {
    color: #000000;
    background-color: #000000;
    height: 2px;
}

.sidebar {
    margin-left: 0;
    padding-right: 19px;
    border-right: 1px groove #000000;
    min-height: 1000px;
    border-color:orange;
}

.search-refine-keywords {
    float:left;
    padding-right:20px;
}

.inspect-button {
    padding:10px;
    margin:30px;
}

.search-results-header {
    display:inline;
}

.search-results-merchant {
    display:inline;
}

.search-results-category {
    display:inline;
}

.generated-pagination {
    
}

.departments-category {
    padding-top: 50px;
}

.departments-subcategory {
    padding-left:40px;
}

.departments-sidebar-li {
    padding:2px;
}
.offer-price-merchant {
    font-weight:bold;
}

.offer-condition {
    
}

.offer-store-button {
    padding:10px;
    margin:10px;
}

.product-detail-description {
    
}

.brand-label {
    font-weight:bold;
}

.brand-value {
    font-style:italic;
}

.departments-icon {
    margin-top:8px;
}

.deal-name {
    
}

.deal-start-label {
    
}

.deal-start-value {
    font-style:italic;
    padding-left:28px;
}

.deal-end-label {
    
}

.deal-end-value {
    font-style:italic;
    padding-left:8px;
}

.deal-code-label {
    font-weight:bold;
}

.deal-code-value {
    color:orange;
    padding-left:7px;
}

.sidebar-option-ul {
    list-style-type:none;
    padding:0px;
    margin-left:5px;
}

.selection-count {
    color:gray;
    font-style:italic;
}

.merchant-table-header {
    font-weight:bold;
    color:orange;
}

.offer-table-header {
    font-weight:bold;
}

.site-logo {
    color:orange !important;
    font-style:italic;
    padding-top:12px !important;
}

.navbar-link {
    padding-top:12px !important;
}

.popshops-large-logo {
    margin-left:30px;
    float:right;
}

.inline-code {
    color:orange !important;
}

.anchor {
    padding-top:35px;
}

.anchor-objects {
    padding-top:65px;
}

.merchant-alpha-select {
    float:left;
    padding-right:140px;
}

.sidebar-heading {
    color:orange;
    font-weight:bold;
    padding-bottom:100px;
}

.merchant-alpha-add-on {
    cursor:default;
    color:orange;
}

.compare-offers-btn {
    padding:20px;
    font-weight:bold;
}

.offers-available {
    font-style:italic;
}

.dollar-sign {
    color:gray;
}

.product-price {
    color:gray;
    font-style:italic;
}

.popover {
    max-width: 1000px;
}

.inspect-icon {
    margin-top:2px;
    margin-right:0px;
}

.hot-products-icon {
    margin-top:13px;
    margin-right:3px;
}

.hot-products-text {
    color:red;
}

.results-category-icon {
    margin-left:10px;
}

.navbar-selected-link {
    color:white !important;
}

.popshops-navbar-logo {
    padding-left:40px;
    padding-right:30px;
}

.deal-merchant-name {
    
}

.deal-sidebar {
    text-align:center;
}

.deal-sidebar-name {
    font-size:80%;
}

.deal-sidebar-img {
    float:left;
    max-height:30px;
}

.deal-sidebar-expires {
    font-size:80%;
    color:red;
}

.deal-sidebar-redeem {
    float:right;
    font-weight:bold;
}

.deal-sidebar-buttons {
    margin-bottom:40px;
}

.deal-sidebar-code-label {
    font-size:80%;
    color:gray;
    font-weight:bold;
}

.deal-sidebar-code-value {
    font-size:80%;
    color:orange;
}

.product-deals-header {
    text-align:center;
}